{% extends 'base.html' %}

{% block title %}Abot{% endblock title %}

{% block body %}


</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/about.css">
    <link rel="stylesheet" href="static/footer.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <div class="imgContainer">
            <img class="blueDots" src="https://source.unsplash.com/pPxhM0CRzl4">
            <img class="mainImg" src="https://source.unsplash.com/pPxhM0CRzl4">
          </div>
          <div class="responsive-container-block textSide">
            <p class="text-blk heading">
              About Us
            </p>
            <p class="text-blk">
                Real Estate is India’s most innovative real Housing advertising platform for homeowners, landlords, developers, and real estate brokers. The company offers listings for new homes, resale homes, rentals, plots and co-living spaces in India. Backed by strong research and analytics, the company’s experts provide comprehensive real estate services that cover advertising and marketing, sales solutions for real estate developers, personalized search, virtual viewing, AR&VR content, home loans, end-to-end transaction services, and post-transaction services to consumers for both buying and renting.
            </p>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Our Vision
                </p>
                <p class="text-blk">
                  Delivering trustworthy experiences that you cherish for a lifetime.
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Our Mission
                </p>
                <p class="text-blk">
                  To be the first choice for our consumers and partners in their journey of discovering, renting, buying, selling and financing a home. We do that with data, design, technology, and above all the passion of our people, while delivering value to our shareholders.
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Innovation
                </p>
                <p class="text-blk">
                  We are always looking to improve, to change, to disrupt. Because with change comes unseen possibilities.
                </p>
              </div>
            </div>
            <div class="responsive-cell-block wk-desk-6 wk-ipadp-6 wk-tab-12 wk-mobile-12">
              <div class="cardImgContainer">
                <img class="cardImg" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/id2.svg">
              </div>
              <div class="cardText">
                <p class="text-blk cardHeading">
                  Trust & Integrity
                </p>
                <p class="text-blk">
                  We stand by our words. We say what we believe. And we do what we say. So, let’s, talk the talk. And walk the walk.
                </p>
              </div>
            </div>
            <a>
              <button class="explore">
                Explore our Services
              </button>
            </a>
          </div>
        </div>
      </div>
    
      <footer class="footer bg-dark">
        <div class="footer__addr">
          <h1 class="footer__logo">Real Estate</h1>
              
          <h2>Contact</h2>
          
          <address>
            support@realestate.com<br>
                
            <a class="footer__btn" href="mailto:support@realestate.com">Email Us</a>
          </address>
        </div>
        
        <ul class="footer__nav">
          <li class="nav__item">
            <h2 class="nav__title"><b>Company</b></h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">Careers</a>
              </li>
      
              <li>
                <a href="#">For Partners</a>
              </li>
                  
              <li>
                <a href="#">Annual Return</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title"><b>Media</b></h2>
      
            <ul class="nav__ul">
              <li>
                <a href="#">Online</a> 
              </li>
      
              <li>
                <a href="#">Print</a>
              </li>
                  
              <li>
                <a href="#">Alternative Ads</a>
              </li>
            </ul>
          </li>
  
          <li class="nav__item">
            <h2 class="nav__title"><b>Explore</b></h2>
            
            <ul class="nav__ul">
                 
              <li>
                <a href="#">News</a>
              </li>
              
              <li>
                <a href="#">Home Loans</a>
              </li>
              
              <li>
                <a href="#">Internationa</a>
              </li>
            </ul>
          </li>
          
          <li class="nav__item">
            <h2 class="nav__title"><b>Legal</b></h2>
            
            <ul class="nav__ul">
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              
              <li>
                <a href="#">Terms of Use</a>
              </li>
              
              <li>
                <a href="#">Sitemap</a>
              </li>
            </ul>
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2023 Real Estate. All rights reserved.</p>
          
          <div class="legal__links">
            <span>Created And Designed By   <span class="heart"> ♥ </span> Rutvik Tetambe</span>
          </div>
        </div>
        <div class="wrapper text-center">
          <a href="https://www.facebook.com/login" target="_blank" class="icon facebook">
            <div class="tooltip">Facebook</div>
            <span><i class="fab fa-facebook-f"></i></span>
          </a>
          <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" target="_blank" class="icon twitter">
            <div class="tooltip">Twitter</div>
            <span><i class="fab fa-twitter"></i></span>
          </a>
          <a href="https://www.instagram.com/accounts/login/" target="_blank" class="icon instagram">
            <div class="tooltip">Instagram</div>
            <span><i class="fab fa-instagram"></i></span>
          </a>
          <a href="https://studio.youtube.com/" target="_blank" class="icon youtube">
            <div class="tooltip">Youtube</div>
            <span><i class="fab fa-youtube"></i></span>
          </a>
        </div>
    
      </footer>
</body>
</html>

{% endblock body %}